<div class="bio-header">
    <div>
        <img src="assets/images/profile-photo.jpg" class="profile-photo"/>
    </div>
    <h2>Durga Charan Tadi</h2>
    <div  id="role-details">
        <p>Senior Software Engineer</p>
        <p>Hitachi</p> 
        <div class="location-div">
            <img class="location-icon" src="assets/images/location.svg"/>
            <p id="location">Austin, TX</p>
        </div> 
        <div class="connect-div">
            <button mat-raised-button id="connect-linkedin" (click)="openMyLinkedIn()">
                <mat-icon>add</mat-icon>
                Connect
            </button>
        </div> 
        <div class="skills-div">
            <p class="skills-header">Skills</p>
            <div class="skills-list">
                <p>Angular</p>
                <p>ReactJS</p>
                <p>Pega PRPC</p>
                <p>HTML5 and CSS3</p>
                <p>JavaScript</p>
                <p>Java</p>
                <p>Spring boot</p>
                <p>JPA</p>
                <p>Maven</p>
                <p>NodeJS</p>
                <p>Bootstrap</p>
                <p>JQuery</p>
                <p>AJAX</p>
                <p>Responsive UI Design</p>
                <p>Restful APIs</p>
                <p>Performance Optimization</p>
                <p>GIT</p>
                <p>Database operations</p>
                <p>Oracle</p>
                <p>Agile and Waterfall</p>
                <p>JSON and XML</p>
            </div>
        </div>
    </div>
</div>