<div class="experience-div">
        <p id="about-me">Master's Degree with 6+ years of IT experience in developing and
        maintaining web-based applications. Dedicated software
        professional with a history of meeting organizational objectives
        through consistent and organized practices. Organized,
        dependable, and effective at managing multiple priorities as a lead
        and as a team player while maintaining a positive attitude.</p> 

        <h4>SENIOR SOFTWARE ENGINEER</h4>
        <p id="firm-details">Hitachi - Toyota | Dec 2022 - Present<br/></p>
        <p id="responsibilities">
            Developed and maintained a web-based application using Angular
            and Pega PRPC for Toyota technical assistance workflow
            application. Responible for architecture design and development,
            as well as leading the team to ensure project success. Worked on
            developing micro front ends in Angular and REST services with Pega.
        </p> 

        <h4>SENIOR SOFTWARE ENGINEER</h4>
        <p id="firm-details">Akshaya INC, Quest-Global, I3GlobalTech INC - APPLE | Jul 2018 - Dec 2022<br/></p>
        <p id="responsibilities">
            Worked on multiple store management projects in various positions,
            leveraging technologies like Angular, ReactJS, Java, Spring boot
            and Pega PRPC. Responsible for creating reusable UI components.
            Worked on mobile application and was responsible for maintaining
            responsive UI design. Worked on creating Restful web services using
            Spring boot. Good working experience on Spring core such as
            dependency injection, annotations, and XML based configurations.
            Used JPA with entity beans for interacting persistence layers for
            CRUD operations. Worked on successful release of the projects and
            was involved in developing, bug fixing, and code deployment to
            higher environments.
        </p>

        <h4>UI DEVELOPER</h4>
        <p id="firm-details">I3GlobalTech INC | Feb 2018 - Jul 2018<br/></p>
        <p id="responsibilities">
            Worked on developing and maintaining a ReactJS application for
            the project timesheet tracker. Worked with react routers for
            developing single page applications. Responsible for creating
            Restful APIs with NodeJS. Worked on version control Git on daily basis
            to keep track of the code history.
        </p>
</div> 