<div class="education-blocks">
    <mat-card class="education-card">
        <br/>
        <mat-card-title><h4>YouTube Clone</h4></mat-card-title>
        <mat-card-subtitle>Technology(s) Used: Angular, Springboot, <br/> MongodB, AWS S3, Auth0</mat-card-subtitle>
        <br/>
        <img mat-card-image src="assets/images/YouTube-Clone.png" id="cumberlands-logo" 
                            (click)="open_youtubeClone()">
    </mat-card>
    <mat-card class="education-card">
        <br/>
        <mat-card-title><h4>Portfolio - GitHub</h4></mat-card-title>
        <mat-card-subtitle>Technology(s) Used: Angular</mat-card-subtitle>
        <br/>
        <img mat-card-image src="assets/images/Portfolio_Snapshot.png" id="cumberlands-logo"
                            (click)="open_portfolioGit()">
    </mat-card>
    <mat-card class="education-card">
        <br/>
        <mat-card-title><h4>Weather App</h4></mat-card-title>
        <mat-card-subtitle>Technology(s) Used: ReactJS</mat-card-subtitle>
        <br/>
        <img mat-card-image src="assets/images/Weather_app.png" id="cumberlands-logo"
                            (click)="open_weatherApp()">
    </mat-card>
    <mat-card class="education-card">
        <br/>
        <mat-card-title><h4>Other Projects - GitHub</h4></mat-card-title>
        <mat-card-subtitle>Technology(s) Used: ReactJS, Angular, <br/> Java, Springboot, MongodB, AWS S3, CSS</mat-card-subtitle>
        <br/>
        <img mat-card-image src="assets/images/GitHub_Logo.png" id="cumberlands-logo"
                            (click)="open_gitRepo()">
    </mat-card>
</div> 