<div class="education-blocks">
    <mat-card class="education-card">
        <br/>
        <mat-card-title><h4>Lead System Architect Part-1</h4></mat-card-title>
        <mat-card-subtitle>Pega Systems</mat-card-subtitle>
        <img mat-card-image src="assets/images/pega-logo.jpg" id="cumberlands-logo">
        <br/>
    </mat-card>
    <mat-card class="education-card">
        <br/>
        <mat-card-title><h4>Senior System Architect</h4></mat-card-title>
        <mat-card-subtitle>Pega Systems</mat-card-subtitle>
        <img mat-card-image src="assets/images/pega-cssa.png" id="hood-college-logo">
        <br/>
    </mat-card>
    <mat-card class="education-card">
        <br/>
        <mat-card-title><h4>System Architect</h4></mat-card-title>
        <mat-card-subtitle>Pega Systems</mat-card-subtitle>
        <img mat-card-image src="assets/images/pega-csa.png" id="jntuk-logo">
        <br/>
    </mat-card>
</div> 