<div class="education-blocks">
    <mat-card class="education-card">
        <br/>
        <mat-card-title><h4>Ph.D. - Information Technology</h4></mat-card-title>
        <mat-card-subtitle>University of the Cumberlands  <br/> (Intended graduation year - 2027)</mat-card-subtitle>
        <img mat-card-image src="assets/images/Univ-of-Cumberlands-logo.png" id="cumberlands-logo">
        <br/>
    </mat-card>
    <mat-card class="education-card">
        <br/>
        <mat-card-title><h4>Master of Science - Computer Science</h4></mat-card-title>
        <mat-card-subtitle>Hood College</mat-card-subtitle>
        <img mat-card-image src="assets/images/Hood_College_Shield.png" id="hood-college-logo">
        <br/>
    </mat-card>
    <mat-card class="education-card">
        <br/>
        <mat-card-title><h4>Bachelor of Technology <br/> Electronics and Communications</h4></mat-card-title>
        <mat-card-subtitle>JNTU Kakinda</mat-card-subtitle>
        <img mat-card-image src="assets/images/Jntuk-logo.png" id="jntuk-logo">
        <br/>
    </mat-card>
</div> 